body {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #FAFAFA;
    width: 100vw;
    height: 100vh;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
}
.wrapper {
    display: flex;
    
}

.bandNames {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.mtserrat {
    font-family: 'Montserrat';
}

.rokkit {
    font-family: 'Rokkitt';
}

.saira {
    font-family: 'Saira';
}

.khand {
    font-family: 'Khand';
}

.orbitron {
    font-family: 'Orbitron', sans-serif;
}

.orbitron.small {
    font-weight: 400;
}

.orbitron.big {
    font-weight: 900;
}

.big {
    font-weight: 500;
}

.small {
    font-weight: 100;
}

.bandName {
    font-size: 50px;
    letter-spacing: 20px;
    text-transform: uppercase;
    margin: 20px;
    text-align: center;
    opacity: 0.7;
    text-align: center;
}

.switch-btn {

    font-family: 'Montserrat';
    letter-spacing: 0px;
    padding: 5px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 3px;
    background-color: #53FF45;
    text-align: center;
    font-weight: bolder;
    height: fit-content;
    margin: 30px;
    transition: 0.6s all ease;
}

.switch-btn:hover {
    background-color: #43c937;
}

.switch-btn a {
    text-decoration: none;
    color: black;
    pointer-events: none;
}

.letter-spacing-tuning  {
    display: flex;
    justify-content: flex-start;
    align-items: flex-center;
}

.spacing-btn {
    font-family: 'Montserrat';
    letter-spacing: 0px;
    padding: 5px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 3px;
    background-color: #53FF45;
    text-align: center;
    font-weight: bolder;
    height: fit-content;
    margin: 30px 5px;
    transition: 0.6s all ease;
    pointer-events: visible;
    cursor: pointer;
    min-width: 40px;
}

.spacing-btn a {
    text-decoration: none;
    color: black;
    pointer-events: none;
}

.spacing-btn:hover {
    background-color: #43c937;
}